#contact {
   padding-top: 60px; 
   padding-bottom: 48px;
   background: #191919;
   width: 100%;
   height: 600px; 
   overflow: hidden;
   background-size: cover !important;
	-webkit-background-size: cover !important;
}

#contact .text { /* first row*/
   width: 80%;
   margin-left: 25px;
}

#contact .announcement .fa { /* second row*/
   text-align: center;
   color: white;
   font-size: 80px;
   width: 15%;
}
#contact .text h2 {
   font-family: octarineBold, arialBlack, Arial;
   font-size: 22px;
   margin-bottom: 20px;
   color: white;
}
#contact .text p {
   font-family: octarineLight, Arial, arialBlack;
   font-size: 16px;
   line-height: 30px;
   color: #7A7A7A;
}

/*Responsive Design*/
@media screen and (min-width: 1281px){
   #contact .announcement{
      margin: 0 auto;
      width: 65%;
   }
}
@media screen and (min-width: 821px) and (max-width: 1280px){
   #contact .announcement {
      margin: 0 auto;
      width: 70%;
   }
   #contact .text p {
      font-size: 13px!important;
      line-height: 23px!important;
   }
   #contact .announcement .fa {
      font-size: 60px!important;
   }
}
@media screen and (min-width: 0px) and (max-width: 820px){
   #contact .announcement {
      margin: 0 auto;
      width: 80%;
   }
   #contact .text p {
      font-size: 12px!important;
      line-height: 23px!important;
   }
   #contact .text {
      margin: 0 auto;
   }
   #contact .announcement .fa {
      display: none;
   }
}