<p-toast [style]="{marginTop: message_margin}" 
          position="top-right"
          key="custom"
          styleClass="custom-toast">

          <ng-template let-message pTemplate="message">
              <a tabindex="0" class="ui-toast-close-icon pi pi-times" (click)="onCloseIconClick($event)" (keydown.enter)="onCloseIconClick($event)" *ngIf="message.closable !== false"></a>
              <span class="ui-toast-icon pi"
              [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                  'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
              <div class="ui-toast-message-text-content">
                  <div class="ui-toast-summary">{{message.summary | translate}}</div>
                  <div class="ui-toast-detail">{{message.detail | translate}}</div>
              </div>
        </ng-template>
</p-toast>
<!--Declares a toast for messages. Can be put almost anywhere-->

<section id="contact">
  <i class="fa fa-envelope"></i>
  <div class="content">
    <h2>{{ 'contact.title' | translate }}</h2>
    <p>{{ 'contact.text' | translate }}</p>
    <div class="email">
      <span>{{ 'contact.mail.name' | translate }}</span>
      <input #mailform1 type="text" class="row" pInputText />
      <span>{{ 'contact.mail.email' | translate }}</span>
      <input #mailform2 type="text" class="row" pInputText />
      <span>{{ 'contact.mail.title' | translate }}</span>
      <input #mailform3 type="text" class="row" pInputText />

      <span>{{ 'contact.mail.message' | translate }}</span>
      <textarea #mailform4 spellcheck="false" class="row" rows="7" cols="30" pInputTextarea></textarea>
      <p-button (click)="clearmailInput(); showSuccess();" label="{{ 'contact.mail.send' | translate }}" ></p-button>
    </div>
    <a *ngIf="this.fb_messanger === true" class="safari_only" href="https://goo.gl/maps/yCrjqrR1LEu">
    </a>
    <div *ngIf="this.fb_messanger === false" class="google-maps">
      <iframe
      width="100%" 
      height="100%"
      id="gmap_canvas" 
      src="https://maps.google.com/maps?width=100%&amp;height=420&amp;hl=en&amp;coord=45.6445937,25.587875322418967&amp;q=Colegiul%20Na%C8%9Bional%20%C3%81prily%20Lajos+(Nebulonia%20Diakszovetseg)&amp;ie=UTF8&amp;t=h&amp;z=16&amp;iwloc=B&amp;output=embed" 
      frameborder="0" 
      scrolling="no" 
      marginheight="0" 
      marginwidth="0">
      </iframe>
    </div>
  </div>
</section>