<!--Declares a toast for messages. Can be put almost anywhere-->
<p-toast [style]="{marginTop: messageMargin}"
          position="top-right"
          key="custom">
</p-toast>

<section id="contact">
  <i class="fa fa-envelope"></i>
  <div class="content">
    <h2><b>{{ 'contact.title' | translate }}</b></h2>
    <p>{{ 'contact.text' | translate }}</p>
    <div class="email">
      <span class="required">{{ 'contact.mail.name' | translate }}</span>
      <input #mailform1 type="text" class="row" pInputText>
      <span class="required">{{ 'contact.mail.email' | translate }}</span>
      <input #mailform2 type="text" class="row" pInputText>
      <span class="required">{{ 'contact.mail.title' | translate }}</span>
      <input #mailform3 type="text" class="row" pInputText>

      <span class="required">{{ 'contact.mail.message' | translate }}</span>
      <textarea #mailform4 spellcheck="false" class="row" rows="6" cols="30" pInputTextarea></textarea>
      <p-button (click)="sendEmail();" label="{{ 'contact.mail.send' | translate }}" ></p-button>
    </div>
    <a *ngIf="this.fbMessenger === true" class="safari_only" href="https://goo.gl/maps/yCrjqrR1LEu">
    </a>
    <div *ngIf="this.fbMessenger === false" class="google-maps">
      <iframe
      width="100%"
      height="100%"
      id="gmap_canvas"
      src="https://maps.google.com/maps?width=100%&amp;height=420&amp;hl=en&amp;coord=45.6445937,25.587875322418967&amp;q=Colegiul%20Na%C8%9Bional%20%C3%81prily%20Lajos+(Nebulonia%20Diakszovetseg)&amp;ie=UTF8&amp;t=h&amp;z=16&amp;iwloc=B&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0">
      </iframe>
    </div>
  </div>
</section>
