<section id="events">
  <div class="feeds">
    <div class="instagram">
      <a href="https://www.instagram.com/nebulonia.alf/" target="_blank">
        <b><i class="fa fa-instagram"></i> Instagram</b>
      </a>
      <!-- LightWidget widget START -->
      <!-- WARNING! you might get 'this site does not work with https' error when modifying-->
      <!-- In case you get the error make sure you copied the new link here-->
      <iframe src="https://cdn.lightwidget.com/widgets/c10fea8a228a573f859c33600b88c1e1.html"
      scrolling="no"
      allowtransparency="true"
      class="instagram-widget">
      </iframe>
      <!-- LightWidget widget END -->
    </div>
    <div class="facebook">
      <a href="https://www.facebook.com/Nebulonia/" target="_blank">
        <b><i class="fa fa-facebook-square "></i> Facebook</b>
      </a>
      <!-- FacebookWidget widget START !!Sizes altered in index.html scripts!! -->
      <div class="fb-page"
          data-href="https://www.facebook.com/Nebulonia/"
          data-tabs="timeline"
          data-small-header="true"
          data-width="380"
          data-height="600"
          data-hide-cover="true"
          data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/Nebulonia/" class="fb-xfbml-parse-ignore">
              <div class="fb-placeholder">
                  <div class="warn">A facebook trackerek nem érkeztek meg! Sajnos csak linkelni tudjuk oldalunkat</div>
                    <a href="https://www.facebook.com/Nebulonia/" target="_blank">
                      <img class="logo" src="../../../../assets/images/logo.png">
                    </a>
                  <div class="name"><b>{{ 'title.up' | translate }}<br>{{ 'title.down' | translate }}</b></div>
              </div>
          </blockquote>
      </div>
        <!-- Important BUGFIX -->
      <!-- FacebookWidget widget END -->
    </div>
  </div>
</section>
