<section id="about">
  <div class="logo" (click)="showModel()">
    <!--<img class="profile-pic"  src="../../../assets/images/logo.jpg" alt="nebulonia-logo" />--> <!-- Older Version -->
    <video class="profile-pic" autoplay muted loop
           poster="../../../assets/images/logo.jpg">
           <source src="../../../assets/videos/logo.mp4" type="video/mp4">
    </video>
  </div>
  <div class="text">
    <h2>{{ 'about.title' | translate }}</h2>
    <p>{{ 'about.text' | translate }}</p>
  </div>
  <div *ngIf="this.modelIsActive" class="modell" id="model-viewer">

  </div>
</section>
  