<section id="about">
  <div class="logo">
    <img class="profile-pic"  src="../../../assets/images/logo.jpg" alt="nebulonia-logo" />
  </div>
  <div class="text">
    <h2>Rólunk</h2>
    <p>Akár a többi tisztességes diákszövetség, a Nebulónia is 
      diákjaink jogait képviseli, (egyedi módon). A jogaink megvédése, és a 
      véleményünk tanárokkal való megvitatása helyett inkább különböző 
      programok eltervezésére és megvalósítására fektetünk nagy hangsúlyt. 
      Célunk, hogy életet, színt vigyünk a diákok olykor unalmas, máskor fárasztó 
      hétköznapjaiba. De, ha ez túl hivatalosan hallatszana, "egyszerűen" csak 
      szeretnénk, ha a diákok még inkább megismernék egymást, ha részt vennének 
      olyan eseményeken, programokon, melyek kellemes emléknek maradnak az iskolai 
      évekből. A Nebulónia Diákszövetség csapata meglehetősen változatos, szinte mindig 
      hallani új, váratlan ötleteket, vagy akár vicces véleményeket. Az alábbi archívum, 
      képek és egyéb tartalmak azonban még többet mondanak rólunk.</p>
  </div>
</section>
  