<nav class="navbar navbar-expand-md" [ngStyle]="{'background-color': 'rgba(51,51,51,'+ (bgopacity) +')', 'width' : width}">
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="toggler fa fa-bars"></span>
  </button>

  <div class="navbar-collapse" (click)="toggleNavbar()" [hidden]="collapse">
      <div class="navbar-nav mr-auto">
          <a [routerLink]="['../main']" [ngx-scroll-to]="'#home'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.home' | translate }}</b></a>
          <!-- (ugly) BUGFIX START - Contacts don't scroll properly because FB and Insta-->
          <div *ngIf="this.mainPage === true">        
            <a [ngx-scroll-to]="'#about'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.about' | translate }}</b></a>
            <a [ngx-scroll-to]="'#events'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.events' | translate }}</b></a>
            <a [ngx-scroll-to]="'#contact'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.contact' | translate }}</b></a>
          </div>
          <div *ngIf="this.mainPage === false">      
            <a [routerLink]="['../main']" [ngx-scroll-to]="'#home'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.about' | translate }}</b></a>
            <a [routerLink]="['../main']" [ngx-scroll-to]="'#home'" [ngx-scroll-to-offset]="offset"><b>{{ 'menu.events' | translate }}</b></a>
            <a [routerLink]="['../main']" [ngx-scroll-to]="'#home'" [ngx-scroll-to-offset]="offset" ><b>{{ 'menu.contact' | translate }}</b></a>
          </div>
          <!-- BUGFIX END -->
          <a [routerLink]="['../archive']" [ngx-scroll-to]="'#archive'" [ngx-scroll-to-offset]="offset" class="pagemark">
            <i *ngIf="this.mobileMode === true" class="fa fa-square"></i><b> {{ 'menu.archive' | translate }}</b></a>
          <a [routerLink]="['../points']"  class="pagemark">
            <i *ngIf="this.mobileMode === true" class="fa fa-square"></i><b> {{ 'menu.class_points' | translate }}</b></a>
          <a *ngIf="this.translate.currentLang === this.translate.getLangs()[0]"
            (click)="setLanguage(this.translate.getLangs()[1])"><b>RO</b></a>
          <a *ngIf="this.translate.currentLang === this.translate.getLangs()[1]"
            (click)="setLanguage(this.translate.getLangs()[0])"><b>HU</b></a>
      </div>
  </div>
</nav>