#footer{
  width: 100%;
  height: 30px;
  color: white;
  background-color: #191919;
}
#footer .scroll-up {
  z-index: 100;
  text-align: center;
  margin: 0 auto;
}

/* scroll up link styles */
#footer .scroll-up a {
  z-index: 100;
  position: absolute;
  display: block;

  text-decoration: none;

  /*stroke and fill in all browsers*/
  color: #FFB300; /*for safety*/

  -webkit-text-fill-color: #FFB300; /*will override color*/
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #FFB300;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#footer .scroll-up a:hover {
  z-index: 100;
  color: #F06000; 
  -webkit-text-fill-color: #F06000; /*will override color*/
  -webkit-text-stroke-color: #F06000;
  cursor: pointer;
}

#footer .creators-page a, #footer .copyright {
  position: absolute;
  display: block;

  width: 94%;
  height: 27px;
  margin-left: 3%;
  margin-top: 3px;

  z-index: 100;
  color: #999795;
  -webkit-text-fill-color: #999795; /*will override color*/
  font-family: octarineBold, arialBlack, Arial;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#footer .creators-page {
  text-align: right;
}
#footer .copyright {
  text-align: left;
}
#footer .creators-page a:hover {
  text-decoration: none;
  color: #F06000; 
  -webkit-text-fill-color: #F06000; /*will override color*/
  cursor: pointer;
}

@media screen and (min-width: 500px){
  #footer .creators-page, #footer .copyright {
    padding-top: 5px;
    font-size: 1rem;
  }
  #footer .scroll-up {
    font-size: 40px;
    /*same as font size*/
    width: 40px;
    height: 30px;
  }
  #footer .fa-chevron-circle-up {
    margin-top: -20px; /*half of font size*/
  }
}
@media screen and (min-width: 280px) and (max-width: 499px){
  #footer .creators-page, #footer .copyright {
    padding-top: 6px;
    font-size: 0.8rem;
  }
  #footer .scroll-up {
    font-size: 35px;
    /*same as font size*/
    width: 35px;
    height: 35px;
  }
  #footer .fa-chevron-circle-up {
    margin-top: -17.5px; /*half of font size*/
  }
}
@media screen and (min-width: 220px) and (max-width: 279px){
  #footer .creators-page, #footer .copyright {
    padding-top: 7px;
    font-size: 0.6rem;
  }
  #footer .scroll-up {
    font-size: 30px;
    /*same as font size*/
    width: 30px;
    height: 30px;
  }
  #footer .fa-chevron-circle-up {
    margin-top: -15px; /*half of font size*/
  }
}
@media screen and (min-width: 0px) and (max-width: 219px){
  #footer .creators-page, #footer .copyright {
    display: none;
  }
  #footer .scroll-up {
    font-size: 30px;
    /*same as font size*/
    width: 30px;
    height: 30px;
  }
  #footer .fa-chevron-circle-up {
    margin-top: -15px; /*half of font size*/
  }
}