/*navbar width and bg-color controlled by typescript*/
.navbar{
  position:fixed;
  z-index: 100;

  min-height: 48px;
}

.navbar-nav{
  font-size: 12px;
  font-family: octarineBold, arialBlack, Arial;
  letter-spacing: 2.5px;

  /* center align the menu */
  margin: 0 auto;
}

/* Links */
.navbar-nav a{
/* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  border: none;
  background: none;
  display: inline-block;
  padding-top: 8px;
  padding-left: 13px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.navbar-nav a:hover { 
  color: #F06000 !important; 
  cursor:pointer;
}
/*hides outline when on focus*/
.navbar-nav:focus{
  outline: none;
}

.toggler {
  border: none;
  padding-top: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: #F06000 ; 
}
/*hides outline when on focus*/
.navbar-toggler:focus {
  outline: none;
}

/* Normal mode */
@media screen and (min-width: 768px){
  .navbar-nav a{
  line-height: initial;
  }
}
/* Mobile mode */
@media screen and (min-width: 0px) and (max-width: 768px){
  .navbar-nav a{
    line-height: 25px;
  }
}
