<nav class="navbar navbar-expand-md" [ngStyle]="{'background-color': 'rgba(51,51,51,'+ (bgopacity) +')', 'width' : width}">
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="toggler fa fa-bars"></span>
  </button>

  <div class="navbar-collapse" (click)="toggleNavbar()" [hidden]="collapse">
    <div class="navbar-nav mr-auto">
        <a [routerLink]="['/main']" [ngx-scroll-to]="'#home'" [ngx-scroll-to-offset]="offset">{{ 'menu.home' | translate }}</a>
        <!-- (ugly) BUGFIX START - Contacts don't scroll properly because FB and Insta-->
        <div *ngIf="this.mainPage === true">        
          <a [ngx-scroll-to]="'#about'" [ngx-scroll-to-offset]="offset">{{ 'menu.about' | translate }}</a>
          <a [ngx-scroll-to]="'#events'" [ngx-scroll-to-offset]="offset">{{ 'menu.events' | translate }}</a>
          <a [ngx-scroll-to]="'#contact'" [ngx-scroll-to-offset]="offset">{{ 'menu.contact' | translate }}</a>
        </div>
        <div *ngIf="this.mainPage === false">      
          <a [routerLink]="['/main']">{{ 'menu.about' | translate }}</a>
          <a [routerLink]="['/main']">{{ 'menu.events' | translate }}</a>
          <a [routerLink]="['/main']">{{ 'menu.contact' | translate }}</a>
        </div>
        <!-- BUGFIX END -->
        <a [routerLink]="['/archive']" class="pagemark">
          <i *ngIf="this.mobileMode === true" class="fa fa-square"></i> {{ 'menu.archive' | translate }}</a>
        <a [routerLink]="['/points']"  class="pagemark">
          <i *ngIf="this.mobileMode === true" class="fa fa-square"></i> {{ 'menu.class_points' | translate }}</a>
        <a *ngIf="this.translate.currentLang === this.translate.getLangs()[0]"
          (click)="setLanguage(this.translate.getLangs()[1])">RO</a>
        <a *ngIf="this.translate.currentLang === this.translate.getLangs()[1]"
          (click)="setLanguage(this.translate.getLangs()[0])">HU</a>
    </div>
  </div>
</nav>