<section id="creators">
  <div *ngIf="error">{{error}}</div>
  <div *ngIf="success">{{success}}</div>
      
  <div id="theList">
    <h2>The list</h2>
    <ul>
      <li *ngFor="let item of activities">{{item.id}} | {{item.name}} | {{item.created_at}} </li>
    </ul>
  </div>

  <div id="theList">
    <h2>The list</h2>
    <ul>
      <li *ngFor="let item of classes">{{item.id}} | {{item.name}}</li>
    </ul>
  </div>

  <div id="theList">
    <h2>The list</h2>
    <ul>
      <li *ngFor="let item of points">{{item.id}} | {{item.value}} | {{item.activity_id}}  | {{item.class_id}} </li>
    </ul>
  </div>
</section>