#creators{
   background-color: #191919;
   overflow: hidden;
   background-size: cover !important;
	-webkit-background-size: cover !important;
}

#creators .title{
   padding-top: 78px;
   padding-bottom: 15px;
   text-align: center;
   text-shadow: 3px 3px 2px black;
   font-size: 5rem;
   font-family: octarineBold, arialBlack, Arial;
   color: white;
   background: url(../../../assets/images/creators/title_bg.jpg) no-repeat top center;

   background-size: cover !important;
	-webkit-background-size: cover !important;
}
@media screen and (max-width: 767px){#creators .title{ padding-bottom: 63px !important;}}

#creators .creator{
   overflow: hidden;
   width: 100%;
   margin: 0 auto;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 24px;
   padding-bottom: 24px;
   max-width: 1366px;
}
#creators .creator .content{
   float: left;
}
#creators .creator .content img {
   width: 100%;
	height: auto;
}
.content img {
   -webkit-transition: transform .5s ease-in-out;
   -moz-transition: transform .5s ease-in-out;
   -o-transition: transform .5s ease-in-out;
   -ms-transition: transform .5s ease-in-out;
   transition: transform .5s ease-in-out;
}
.content img:hover{
   transform: scale(0.9);
}

#creators .creator .name{
	width: 100%;
   padding-top: 14px;
   text-align: center;
   font-family: octarineBold, arialBlack, Arial;
   text-shadow: 3px 3px 2px black;
   color: white;
}

#creators .creator .text, #creators .creator .postscript{
   width: 75%;
   float: right;
   padding-right: 20px;
   color: rgb(228, 228, 228) !important;
   font-family: octarineLight, Arial, arialBlack;
   line-height: 1.3;
}

#creators .creator .postscript a{
   color:rgb(228, 228, 228) !important;
   text-decoration: none !important;
 
   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
 }
 #creators .creator .postscript a:hover{
   color: #F06000 !important;
   cursor: pointer;
 }

@media screen and (min-width: 1400px) {
   #creators .creator .text, #creators .creator .postscript{padding-top: 105px; font-size: 20px!important;}
   #creators .creator .content{width:20%;}
   #creators .creator .name{font-size: 22px;}
}
@media screen and (min-width: 1015px) and (max-width: 1399px){
   #creators .creator .text, #creators .creator .postscript{padding-top: 9%; font-size: 18px!important;}
   #creators .creator .content{width:23%;}
   #creators .creator .name{font-size: 1.5vw;}
}
@media screen and (min-width: 768px) and (max-width: 1014px){
   #creators .creator .text, #creators .creator .postscript{padding-top: 7.5%; font-size: 16px!important;}
   #creators .creator .content{width:23%;}
   #creators .creator .name{font-size: 2vw;}
}
@media screen and (min-width: 576px) and (max-width: 767px){
   #creators .creator .text, #creators .creator .postscript{
      float:none; width:90%; padding-top: 5%; margin-left: 5%!important; font-size: 3.75vw!important;
   }
   #creators .creator .content{float:none; width:70%; margin: 0 auto;}
   #creators .creator .name{font-size: 4vw;}
}
@media screen and (min-width: 0px) and (max-width: 575px){
   #creators .creator .text, #creators .creator .postscript{
      float:none; width:90%; padding-top: 5%; margin-left: 5%!important; font-size: 4vw!important;
   }
   #creators .title{font-size: 15vw;}
   #creators .creator .content{float:none; width:90%; margin: 0 auto;}
   #creators .creator .name{font-size: 5vw;}
}

#creators .creator .postscript{
   padding-top: 25px !important;
}
 

