<app-navbar [MainPage] = 'false'></app-navbar>
<section id="creators">
    <div class="title">{{ 'creators.title' | translate}}</div>
        <div class="creator">
            <div class="profile">
                <img *ngIf="this.clicks[4] <= 4"
                    src="../../../assets/images/creators/kovi_lori.png"
                    alt="KovacsLorand" (click)="addClicksTo(4)" >
                <img *ngIf="this.clicks[4] > 4"
                    src="../../../assets/images/creators/kovi_lori_egg.png"
                    alt="KovacsLorand-Easteregg">
                <div class="name">
                    Kovács Loránd
                </div>
            </div>
            <div class="text">
                {{'creators.KovacsLorand.text' | translate}}
                <div class="postscript"> 
                    <a href="https://www.facebook.com/kovilori13"><i class="fa fa-facebook-square"></i><b> Facebook</b></a>
                </div>
            </div>
        </div>
        <div class="creator">
            <div class="profile">
                <img *ngIf="this.clicks[3] <= 4"
                    src="../../../assets/images/creators/lori.png"
                    alt="SzokeLorand" (click)="addClicksTo(3)" >
                <img *ngIf="this.clicks[3] > 4"
                    src="../../../assets/images/creators/lori_egg.png"
                    alt="SzokeLorand-Easteregg">
                <div class="name">
                    Szőke András-Loránd
                </div>
            </div>
            <div class="text">
                {{'creators.Lorand.text' | translate}}
                <i class="fa fa-angellist"></i>
                <div class="postscript">
                    <b>PS.</b> {{ 'creators.Lorand.postscript' | translate}} 
                    <a href="https://www.facebook.com/szoke.lori"><i class="fa fa-facebook-square"></i><b> Facebook</b></a>.
                </div>
            </div>
        </div>
        <div class="creator">
            <div class="profile">
                <img *ngIf="this.clicks[2] <= 4"
                    src="../../../assets/images/creators/csuti.png"
                    alt="CsutakZsolt" (click)="addClicksTo(2)" >
                <img *ngIf="this.clicks[2] > 4"
                    src="../../../assets/images/creators/csuti_egg.png"
                    alt="CsutakZsolt-Easteregg">
                <div class="name">
                    Csutak Zsolt
                </div>
            </div>
            <div class="text">
                {{'creators.Csuti.text' | translate}}
            </div>
        </div>
        <div class="creator">
            <div class="profile">
                <img *ngIf="this.clicks[1] <= 4"
                    src="../../../assets/images/creators/marci.png"
                    alt="SoosMarton" (click)="addClicksTo(1)" >
                <img *ngIf="this.clicks[1] > 4"
                    src="../../../assets/images/creators/marci_egg.png"
                    alt="SoosMarton-Easteregg">
                <div class="name">
                    Soos Márton
                </div>
            </div>
            <div class="text">
                {{'creators.Marci.text' | translate}}
            </div>
        </div>
        <div class="creator">
            <div class="profile">
                <img *ngIf="this.clicks[0] <= 4"
                    src="../../../assets/images/creators/bacso.png"
                    alt="BacsoPeterTamas" (click)="addClicksTo(0)" >
                <img *ngIf="this.clicks[0] > 4"
                    src="../../../assets/images/creators/bacso_egg.png"
                    alt="SooSMarton-Easteregg">
                <div class="name">
                    Bacsó Péter Tamás
                </div>
            </div>
            <div class="text">
                {{'creators.Bacso.text' | translate}}
            </div>
        </div>
</section>