<p-toast [style]="{marginTop: messageMargin}" 
          position="top-right"
          key="custom"
          styleClass="custom-toast">

          <ng-template let-message pTemplate="message">
              <a tabindex="0" class="ui-toast-close-icon pi pi-times" (click)="onReject()" *ngIf="message.closable !== false"></a>
              <span class="ui-toast-icon pi"
              [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                  'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
              <div class="ui-toast-message-text-content">
                  <div class="ui-toast-summary">{{message.summary | translate}}</div>
                  <div class="ui-toast-detail" style="line-height: 1.4;">{{message.detail | translate}}</div>
              </div>
        </ng-template>
</p-toast>
<!--Declares a toast for messages. Can be put almost anywhere-->

<app-navbar [OpacityType] = '2'></app-navbar>
<section id="admin">
  <div class="title"><b>{{ 'admin.title' | translate}}</b></div>
  <!--- Login Page START ----------------------------->
  <div *ngIf="!isLogged">
    <div class="login-panel">
      <h3><b>{{ 'admin.sign-in.login' | translate }}</b></h3>
      <div class="input">
        <input pInputText type="password" placeholder="{{ 'admin.sign-in.password' | translate }}" id="passwordBox">&nbsp;
        <button pButton type="button" icon="pi pi-check" label="{{ 'admin.sign-in.next' | translate }}" (click)="login()"></button>
      </div>
    </div>
  </div>
  <!--- Login Page END ------------------------------->
  <!--- Admin Page START ----------------------------->
  <div *ngIf="isLogged">
    <div class="content">
      <div class="new-activity">
        <input pInputText type="text" id="newActNameBox">
        &nbsp;
        <button pButton type="button" label="{{ 'admin.new-event-add' | translate }}" (click)="createActivity()"></button>
      </div>
      <br>

      <div class="activity-editor">
        <select id="actlist" class="acselect" #actlist (change)="this.loadPoints(actlist.value)">
          <option *ngFor="let item of activities" [value]="item.id">{{ item.name }}</option>
        </select>&nbsp;
        <button pButton type="button" class="ui-button-danger" icon="pi pi-trash" label="{{ 'admin.event-delete' | translate }}" (click)="deleteActivity()"></button>
        <br><br>
        <table class="ptable" id="pointsTable">
          <tr>
            <th>{{ 'admin.class' | translate }}</th>
            <th>{{ 'admin.points' | translate }}</th>
          </tr>
          <tr *ngFor="let item of points">
            <td>{{ item.className }}</td>
            <td><div contenteditable="true">{{ item.value }}</div></td>
          </tr>
        </table>
        <br>
        <button pButton type="button" icon="pi pi-check" label="{{ 'admin.save-points' | translate }}" (click)="savePoints()"></button>
      </div>
      <br><br>
    </div>

    <div class="links">
      <div class="row"><h2><b>{{ 'admin.important-links' | translate}}</b></h2></div>
      <div class="grid">
          <a href="https://github.com/Nebulonia" target="_blank"> 
            <img src="../../../assets/images/admin/github.png">
            <p>{{ 'admin.ndsz-apps' | translate}}</p>
          </a>
          <a href="https://aprilyfogimnazium-my.sharepoint.com/:f:/g/personal/nebuloniadsz_aprilyfogimnazium_ro/EoC1R8EsFuFBhe7eCSbcxEMBV-kZZ76Moo3dCNpwh1J0mQ?e=JXaFKN"
          target="_blank"> 
            <img src="../../../assets/images/admin/onedrive.png">
            <p>{{ 'admin.data' | translate}}</p>
            <p style="margin-top: 0;">nebuloniadsz@aprilyfogimnazium.ro</p>
          </a>
          <a href="https://server60.romania-webhosting.com:2096/logout?" target="_blank"> 
            <img src="../../../assets/images/admin/email.png">
            <p>office@nebulonia.ro</p>
          </a>
          <a href="http://cpanel60.claus.ro/" target="_blank"> 
            <img src="../../../assets/images/admin/cpanel.png">
            <p>{{ 'admin.cpanel' | translate}}</p>
          </a>
      </div>
      <br><br><br>
    </div>
  </div>
  <!--- Admin Page END ------------------------------->
</section>
  