<p-toast [style]="{marginTop: messageMargin}" 
          position="top-right"
          key="custom"
          styleClass="custom-toast">

          <ng-template let-message pTemplate="message">
              <a tabindex="0" class="ui-toast-close-icon pi pi-times" (click)="onReject()" *ngIf="message.closable !== false"></a>
              <span class="ui-toast-icon pi"
              [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                  'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
              <div class="ui-toast-message-text-content">
                  <div class="ui-toast-summary">{{message.summary | translate}}</div>
                  <div class="ui-toast-detail" style="line-height: 1.4;">{{message.detail | translate}}</div>
              </div>
        </ng-template>
</p-toast>
<!--Declares a toast for messages. Can be put almost anywhere-->

<app-navbar [MainPage] = 'false'></app-navbar>
<section id="admin">
  <!--- Login Page START ----------------------------->
  <div class="text" *ngIf="!isLogged">
    <h2>{{ 'admin.title' | translate }}</h2>
    <h3>{{ 'admin.sign-in.login' | translate }}</h3>
    <div class="input">
      <input pInputText type="password" placeholder="{{ 'admin.sign-in.password' | translate }}" id="passwordBox">&nbsp;
      <button pButton type="button" icon="pi pi-check" label="{{ 'admin.sign-in.next' | translate }}" (click)="login()"></button>
    </div>
  </div>
  <!--- Login Page END ------------------------------->
  <!--- Admin Page START ----------------------------->
  <div class="text" *ngIf="isLogged">
    <h2>{{ 'admin.title' | translate }}</h2>
    <div class="activity-editor">
      <select id="actlist" class="acselect" #actlist (change)="this.loadPoints(actlist.value)">
        <option *ngFor="let item of activities" [value]="item.id">{{ item.name }}</option>
      </select>&nbsp;
      <button pButton type="button" class="ui-button-danger" icon="pi pi-trash" label="{{ 'admin.event-delete' | translate }}" (click)="deleteActivity()"></button>
      <br><br>
      <table class="ptable" id="pointsTable">
        <tr>
          <th>{{ 'admin.class' | translate }}</th>
          <th>{{ 'admin.points' | translate }}</th>
        </tr>
        <tr *ngFor="let item of points">
          <td>{{ item.className }}</td>
          <td><div contenteditable="true">{{ item.value }}</div></td>
        </tr>
      </table>
      <br>
      <button pButton type="button" icon="pi pi-check" label="{{ 'admin.save-points' | translate }}" (click)="savePoints()"></button>
    </div>
    <br><br>
    <div class="new-activity">
      <input pInputText type="text" id="newActNameBox">
      &nbsp;
      <button pButton type="button" label="{{ 'admin.new-event-add' | translate }}" (click)="createActivity()"></button>
    </div>
  </div>
  <!--- Admin Page END ------------------------------->
</section>
  