<section id="home">
    <div class="banner">
      <div class="banner-text">
          <h1>{{ 'title.up' | translate }}<br>{{ 'title.down' | translate }}</h1>
        <hr>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/Nebulonia" target="_blank" class="fa fa-facebook"></a></li>
        <li><a href="https://www.instagram.com/nebulonia.alf/" target="_blank" class="fa fa-instagram"></a></li>
        <li><a href="https://www.youtube.com/channel/UCpt-gyMWOTVPn-Dvlr4Hxug" target="_blank" class="fa fa-youtube"></a></li>
      </ul>
    </div>
 
    <div class="scrolldown">
      <a [ngx-scroll-to]="'#about'" class="fa fa-chevron-circle-down"></a>
    </div>
  </section>