<app-navbar></app-navbar>
<app-home></app-home>
<app-about></app-about>
<app-presidents [carouselElements] = 'presidents'></app-presidents>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>
<h1>BULLSHIT</h1>