<div id="otthon">
  <header id="home">
    <nav id="nav-wrap">
      <ul id="nav">
        <li class="current"><a href="#otthon">Otthon</a></li>
        <li><a href="#rolunk">Rólunk</a></li>
        <li><a href="#tf-team">Elnökség</a></li>
        <li><a href="#rendezvenyek">Rendezvények</a></li>
        <li><a href="#kapcsolat">Kapcsolat</a></li>
        <li><div class="item-wrap"><a id="pop" href="#osztalypontok">Osztálypontok</a></div></li>
        <li><a href="http://www.brassaioroksegunk.com/ro">RO</a></li>
      </ul>
    </nav>

    <div class="row banner">
      <div class="banner-text">
          <h1>Nebulónia<br>Diákszövetség</h1>
        <hr>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/Nebulonia" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/nebulonia.alf/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCpt-gyMWOTVPn-Dvlr4Hxug" target="_blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
 
    <p class="scrolldown">
      <a class="smoothscroll" href="#timeline"><i class="fa fa-chevron-circle-down"></i></a>
    </p>
 
  </header> <!-- Header End -->
</div>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>
 <h1>BULLSHIT</h1>