<section id="not-found">
    <a class="back" [routerLink]="['/main']">
        <i class="fa fa-angle-double-left"></i>
        {{ 'not-found.go_back' | translate }}
    </a>

    <div class="message">
        <a class="exclamation" href="http://www.aprilyfogimnazium.ro" target="_blank">
            {{ 'not-found.exclamation' | translate }}
        </a>

        <div class="errorcode">
            404
        </div>

        <div class="description">
            {{ 'not-found.description' | translate }}
        </div>
    </div>

    <a class="langtoggle" *ngIf="this.translate.currentLang === 'hun'" (click)="changeLanguage('rom')">RO</a>
    <a class="langtoggle" *ngIf="this.translate.currentLang === 'rom'" (click)="changeLanguage('hun')">HU</a>
</section>
  