<section id="not-found">
    <a class="back" [routerLink]="['/main']">
        <i class="fa fa-angle-double-left"></i>
        {{ 'not-found.go_back' | translate }}
    </a>

    <div class="message">
        <a *ngIf="this.translate.currentLang === this.translate.getDefaultLang()"
            class="exclamation" href="http://www.aprilyfogimnazium.ro" target="_blank">
            {{ 'not-found.exclamation' | translate }}
        </a>
        <a *ngIf="this.translate.currentLang !== this.translate.getDefaultLang()" class="exclamation">
            {{ 'not-found.exclamation' | translate }}
        </a>

        <div class="errorcode">
            404
        </div>

        <div class="description">
            {{ 'not-found.description' | translate }}
        </div>
    </div>

    <a  *ngIf="this.translate.currentLang === this.translate.getLangs()[0]"
        class="langtoggle"
        (click)="setLanguage(this.translate.getLangs()[1])">RO
    </a>
    <a  *ngIf="this.translate.currentLang === this.translate.getLangs()[1]"
        class="langtoggle"
        (click)="setLanguage(this.translate.getLangs()[0])">HU
    </a>
</section>
  