#archive {
    /*padding-top: 48px; /*for navbar*/
    background-color: #0F0F0F;
    width: 100%;
    overflow: hidden;
    line-height: 0; /*edge bugfix*/ /*TODO: FIX THAT FCKING LINE!!!!*/
}

.special-event {
    overflow: hidden;
    background-color: #191919;

    font-size: 1vw; /*p*/
    height: 23em;

    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 2em;
    padding-bottom: 2em;

    color: white; /*text color*/
    white-space: nowrap;
}

#logo-memorial .text {
    width: 40%;
    float: left;

    padding: auto 0;
}
#logo-memorial .text h1 {
    margin-top: 0;
    font-size: 2vw;
}
#logo-memorial .text p{
    line-height: normal;
}
#logo-memorial .logos {
    width: 60%;
    height: 100%;
    float: right;
}
#logo-memorial .logos img {
    float: right;
    height: 100%;
    width: auto;
    max-width: 50%;
}

.special-event .promo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.promo .text {
    padding-top: 6em;
    float: left;
    height: 100%;
    text-align: center;
    width: auto;
}
.promo p {
    margin-top: 1.3em;
}
.promo a, a h1 {
    margin-top: 0;
    margin-bottom: 0.2em !important;
}
.promo .content {
    float:  right;
    max-width: 65%;
    width: auto;
    height: 100%;
}
.promo img {
  padding: 3%;

  -webkit-transition: transform .25s ease-in-out;
  -moz-transition: transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  -ms-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
}
.promo img:hover {
    transform: scale(1.15);
}

@media screen and (min-width: 1200px) {
    #logo-memorial .text h1 {
        margin-top: -0.2em;
        margin-bottom: 0.3em;
    }
    
    .promo{
        padding: 0 4.5vw;
    }
    .promo h1, #logo-memorial .text h1{
        font-size: 2.5vw;
    }
    .promo p, #logo-memorial .text p {
        font-size: 1.15vw;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .special-event {
        height: 28em;
    }

    #logo-memorial .logos .drawing {
        position: absolute;
        opacity: 0;
        width: 0;
    }
    #logo-memorial .logos .vector {
        max-width: 100%;
    }

    .special-event .promo {
        padding: 0;
    }
    .promo .text {
        padding-top: 8.5em;
    }
    
    .promo h1, #logo-memorial .text h1{
        font-size: 2.5vw;
    }
    .promo p, #logo-memorial .text p  {
        font-size: 1.4vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .special-event {
        height:40em;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    #logo-memorial .logos .drawing {
        position: absolute;
        opacity: 0;
        width: 0;
    }
    #logo-memorial .logos .vector {
        margin-top: 5%;
        width: 48%;
        height: auto;
    }
    #logo-memorial .text h1 {
        font-size: 2.8vw;
    }
    #logo-memorial .text p {
        font-size: 1.8vw;
    }
    
    .special-event .promo {
        padding: 0;
    }
    .promo h1{
        font-size: 2.4vw;
        margin-bottom: 0.5em;
    }
    .promo p {
        font-size: 1.15vw;
    }
    .promo .text {
        padding-top: 12.5em;
    }
    .promo .content {
        max-width: 60% !important;
    }
    .promo img {
        padding: 4%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .special-event {
        height: 45em;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    #logo-memorial .logos .drawing {
        position: absolute;
        opacity: 0;
        width: 0;
    }
    #logo-memorial .logos .vector {
        margin-top: 10%;
        width: 45%;
        height: auto;
    }
    #logo-memorial .text h1 {
        font-size: 3.5vw;
    }
    #logo-memorial .text p {
        font-size: 2vw;
    }
        
    .special-event .promo {
        padding: 0;
    }
    .promo h1{
        font-size: 3.5vw;
    }
    #video2017 h1{
        margin-top: -0.6em;
    }
    .promo p {
        position: absolute;
        opacity: 0;
        width: 0;
    }
    .promo .text {
        float: none !important;
        padding-top: 0 !important;
        margin: 0 auto;
        height: auto;
        margin-bottom: 1em;
    }
    .promo .content {
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 100% !important;
        height: 90%;
    }
    .promo img {
        padding: 4%;
    }
}
@media screen and (max-width: 575px) {
    .special-event {
        height: 85em;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }

    #logo-memorial .text {
        float: none !important;
        margin-left: 8vw;
        width: 82vw !important;
    }
    #logo-memorial .text h1 {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 6vw;
    }
    #logo-memorial .text p {
        font-size: 2.5vw;
    }
    #logo-memorial .logos {
        margin-top: 4em !important;
        display: block;
        float: none !important;
        height: 40% !important;
        width: 85vw !important;

        padding-left: 7.5vw;
        padding-right: 7.5vw;

        margin: 0 auto;
    }
    #logo-memorial .logos .vector {
        float: left;
        height: 100%;
        width: auto;
    }
    #logo-memorial .logos .drawing{
        padding: 0 !important;
        float: right;
        height: 100%;
        width: auto;
    }

    .special-event .promo {
        padding: 0;
    }
    .promo h1{
        margin-top: 0;
        font-size: 6vw;
    }
    .promo p {
        font-size: 3vw;
    }
    .promo .text {
        float: none !important;
        padding-top: 0 !important;
        margin: 0 auto;
        height: auto;
    }
    .promo .content {
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 95% !important;
        margin-top: 9em;
        height: auto;
    }
    .promo img {
        padding: 11%;
        padding-top: 5%;
    }
}
