<section id="presidents">
  <div class="slider" [ngStyle]="{'width' : width}">
    
  <div class="title">
    <a [ngx-scroll-to]="'#presidents'">{{'presidents.title' | translate }}</a>
  </div>

  <div class="line">
      <hr>
  </div>
  
    <owl-carousel
    [options]="sliderOPT"
    [items]="carouselElements"
    [carouselClasses]="['owl-theme']">
      <div class="item" *ngFor="let element of carouselElements;let i = index">
        <img class="element-style" [src]="element.url"/>
        <h5>{{element.name}}</h5>
        <p>{{element.position | translate}}</p>
      </div>
    </owl-carousel>
  </div>
</section>
