#presidents {
   /*applies a dark filter on the background*/
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
               url(../../../assets/images/presidents_bg.jpg) no-repeat center center;

   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   width: 100%;
   overflow: hidden;
   padding-top: 60px;
   padding-bottom: 60px;
   text-align: center;
   line-height: 1;
   /* margin: 0 auto;*/

  /*centers slider ->BUGGY AF*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
#presidents .slider {
   /*width controlled in ts and html*/
   text-align:center;

   /*center horizontally*/
   margin: 0 auto;
}

/*Title START*/
#presidents .slider .title {
   width: 100%;
   text-align: center;
}

#presidents .slider .title a , #presidents .slider .title h1{
   text-decoration: none;
   color: white;
      
   font-size: 28px;
   font-family: octarineBold, arialBlack, Arial;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}
#presidents .slider .title a:hover { 
   color: #F06000 !important; 
   cursor: pointer;
}
/*Title END*/

#presidents .slider .item {
   text-align: center;
   color: white;
}

#presidents .slider .item h5 {
   font-family: octarineBold, arialBlack, Arial;
}

#presidents .slider .item p {
   padding-top: 8px; /*makes up for edge's line-height bugfix*/
   font-family: octarineLight, Arial, arialBlack;
}

#presidents .slider .element-style{
	width: 120px;
	height: 120px;
   border-radius: 100%; /*round*/
   margin: 0 auto; /* center inside container*/
   margin-bottom: 20px;
}

#presidents .slider .line{
	border-top: 4px solid #fcac45;
	width: 60px;
	margin: 0 auto;
	margin-top: 15px;
   margin-bottom: 40px;
}

#presidents .slider .line hr {
   border-top: 4px solid rgba(252, 172, 69, 0.34);
   width: 40px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

/* ::ng-deep is deprecated however at the time of writing*/
/* there is no alternative for it yet */
::ng-deep .owl-theme .owl-dots .owl-dot span {
   background: #D6D6D6!important; /* dots color*/
 }

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
   background: #FCAC45!important; /*active and on hover color*/
}
