<section id="presidents" [ngStyle]="{'height' : height}">
  <div class="slider" [ngStyle]="{'width' : width}">
    
  <div class="title">
    <div *ngIf="titleLink === true">
      <a [ngx-scroll-to]="'#presidents'" [ngx-scroll-to-offset]="offset">{{'presidents.title' | translate }}</a>
    </div>
    <div *ngIf="titleLink === false">
      <h1>{{'presidents.title' | translate }}</h1>
    </div>
  </div>

  <div class="line">
      <hr>
  </div>
  
    <owl-carousel
    [options]="sliderOPT"
    [items]="presidentsElement"
    [carouselClasses]="['owl-theme']">
      <div class="item" *ngFor="let element of presidentsElement;let i = index">
        <img class="element-style" [src]="element.url"/>
        <h5>{{element.name}}</h5>
        <p>{{element.position | translate}}</p>
      </div>
    </owl-carousel>
  </div>
</section>
