#presidents {
   border-top: 48px solid #2B2B2B;

   /*applies a dark filter on the background*/
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
               url(../../../assets/images/presidents_bg.jpg) no-repeat center center;

   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   width: 100%;
   overflow: hidden;
   padding-top: 48px;
   padding-bottom: 50px;
   text-align: center;
   margin: 0 auto;
}
.slider {
   /*width controlled in ts and html*/
   margin: 0 auto;
   text-align:center;
}

.slider h4{
   text-align: center;
   color: white;
   font-family: octarineBold, arialBlack, Arial;
   margin-bottom: 20px;
}

.slider .item {
   text-align: center;
   color: white;
}

.slider .item h5 {
   font-family: octarineBold, arialBlack, Arial;
}

.slider .item p {
   font-family: 'Arial Italic', octarineLight, arialBlack;
}

.slider .element-style{
	width: 120px;
	height: 120px;
   border-radius: 100%; /*round*/
   margin: 0 auto; /* center inside container*/
   margin-bottom: 20px;
}

.slider .line{
	border-top: 4px solid #fcac45;
	width: 60px;
	margin: 0 auto;
	margin-top: 15px;
   margin-bottom: 40px;
}

.slider .line hr {
   border-top: 4px solid rgba(252, 172, 69, 0.34);
   width: 40px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
   background: #D6D6D6!important; /* dots color*/
   outline: none;
 }

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
   background: #FCAC45!important; /*active and on hover color*/
   outline: none;
}
/*TODO: Make this HAPPEN*/
/*
::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:focus span {
   outline: none;
}*/