<!--Declares a toast for messages. Can be put almost anywhere-->
<p-toast [style]="{marginTop: messageMargin}" 
          position="top-right"
          key="custom"
          styleClass="custom-toast">

          <ng-template let-message pTemplate="message">
              <a tabindex="0" class="ui-toast-close-icon pi pi-times" (click)="onReject()" *ngIf="message.closable !== false"></a>
              <span class="ui-toast-icon pi"
              [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                  'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
              <div class="ui-toast-message-text-content">
                  <div class="ui-toast-summary">{{message.summary | translate}}</div>
                  <div class="ui-toast-detail" style="line-height: 1.4;">{{message.detail | translate}}</div>
              </div>
        </ng-template>
</p-toast>

<app-navbar [OpacityType] = '2'></app-navbar>
<!--<app-work-in-progress></app-work-in-progress>-->

<section id="esports-event">
  <div class="banner-image"></div>
  <br>
  
  <div *ngFor="let token of esportsStreamLinks | keyvalue; let i = index">
    <br>
    <h1><a [href]="getLink(token.key, false)"><b>{{ token.key }} - Live stream</b></a></h1>
    <br><br>
    <div class="embed-player-container">
      <iframe class="embed-player" [src]="embedLinks.get(token.key)"
              frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <br><br>
    <p class="team-title"><b>Csapatok</b></p>
    <br><br>
    <div class="teams-container">
      <div class="team" *ngFor="let teamName of getTeamsIteration(token.key) | keyvalue">
        <img src="../../../assets/images/special-events/{{ teamName.key }}.jpg">
        <div class="team-name">
          <b>{{ teamName.key }}</b>
        </div>
        <div class="team-member" *ngFor="let teamMember of teamName.value">{{ teamMember }}</div>
      </div>
    </div>
    <br><br>
  </div>
  <app-footer></app-footer>
</section>