<!--Declares a toast for messages. Can be put almost anywhere-->
<p-toast [style]="{marginTop: messageMargin}" 
          position="top-right"
          key="custom"
          styleClass="custom-toast">

          <ng-template let-message pTemplate="message">
              <a tabindex="0" class="ui-toast-close-icon pi pi-times" (click)="onReject()" *ngIf="message.closable !== false"></a>
              <span class="ui-toast-icon pi"
              [ngClass]="{'pi-info-circle': message.severity == 'info', 'pi-exclamation-triangle': message.severity == 'warn',
                  'pi-times': message.severity == 'error', 'pi-check' :message.severity == 'success'}"></span>
              <div class="ui-toast-message-text-content">
                  <div class="ui-toast-summary">{{message.summary | translate}}</div>
                  <div class="ui-toast-detail" style="line-height: 1.4;">{{message.detail | translate}}</div>
              </div>
        </ng-template>
</p-toast>

<!--<app-navbar [OpacityType] = '2'></app-navbar>-->
<!--<app-work-in-progress></app-work-in-progress>-->

<section id="esports-event">
  <div class="banner-image"></div>
  <br>
  <h1><b>Live stream!</b></h1>
  <div *ngFor="let token of esportsStreamLinks | keyvalue">
    <a class="stream-link" [href]="getLink(token.key, false)"><b>{{ token.key }}</b></a>
    <br><br><br>
    <div class="embed-player-container">
      <iframe class="embed-player" [src]="getLink(token.key, true)"
              frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <br><br>
    <div class="teams-container">
      <p class="team-title">Csapatok</p>
      <p class="team-member" *ngFor="let team of esportsTeams"><span *ngIf="team.game == token.key"><span class="team-name">{{ team.name }}</span> {{ team.members }}</span></p>
    </div>
    <br><br><br>
  </div>
</section>
  