#esports-event {
   background: rgb(10, 5, 32);
   overflow: hidden;
   align-items: center;
   text-align: center;
   background-size: cover !important;
    -webkit-background-size: cover !important;
  min-height: 100vh;
  padding-top: 48px;
}


@font-face {
  font-family: NexaLight;
  src: url(../../../assets/fonts/special-event/Nexa-Light.otf) format("opentype");
}
#esports-event h2 {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 20px;

  font-family: NexaLight, objectivityBold, octarineBold, Arial;

  text-align: center;
  color: white;
}

#esports-event .embed-player-container {
  width: 100%;
  text-align: center;
}

#esports-event .embed-player {
  margin: auto;
  display: inline-block;
  top: 0;
  left: 0;
  --variable-width: 75vw;
  width: var(--variable-width);
  height: calc(0.5625 * var(--variable-width));
}

#esports-event .teams-container {
   padding: 30px;
   text-align: left;
}

#esports-event .banner-image {
  width: 100vw;
  --banner-height: calc(0.128125 * 100vw);

  height: var(--banner-height);

  background: url("../../../assets/images/special-events/esports2020.png") no-repeat;
  background-size: 100% auto;
  background-position: right center;
}

@media screen and (max-width: 767px)
{
  #esports-event {
   padding-top: 0px;
 }
 
  #esports-event .embed-player {
     --variable-width: 95vw;
  }

  #esports-event .banner-image {
    width: 100vw;
    --banner-height: calc(0.301923 * 100vw);
  
    height: var(--banner-height);
  
    background-size: 100% auto;
    background-image: url("../../../assets/images/special-events/esports2020m.png");
  }
}
@media screen and (max-width: 575px){
}