#esports-event {
  padding-top: 48px;
  color: white;
  background: rgb(10, 5, 32);
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  min-height: 100vh;

  font-family: NexaLight, objectivityLight, octarineLight, Arial !important;
}


@font-face {
  font-family: NexaLight;
  src: url(../../../assets/fonts/special-event/Nexa-Light.otf) format("opentype");
}
@font-face {
  font-family: NexaBold;
  src: url(../../../assets/fonts/special-event/Nexa-Bold.otf) format("opentype");
}

b {
  font-family: NexaBold, objectivityBold, octarineBold, Arial !important;
}

#esports-event a:hover, .notification a:hover {
  color: rgb(90, 87, 255) !important; 
}

#esports-event h1 {
  font-size: 45px;
  margin-top: 12px;
  margin-bottom: 20px;

  text-align: center;
  color: white;
}

#esports-event h2 {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 20px;

  text-align: center;
  color: white;
}

#esports-event .stream-link {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  color: white;
}

#esports-event .embed-player-container {
  width: 100%;
  text-align: center;
}

#esports-event .embed-player {
  margin: auto;
  display: inline-block;
  top: 0;
  left: 0;
  --variable-width: 80vw;
  width: var(--variable-width);
  height: calc(0.5625 * var(--variable-width));
}

#esports-event .team-title {
  text-align: center;
  color: white;
  font-size: 36px;
  margin-bottom: 0;
}

#esports-event .team-name {
  float: right;
  width: 80%;
  text-align: center;

  font-size: 2.5vw;
  line-height: 2.63;
  margin-bottom: 25px;
  color: rgb(90, 87, 255);
  background-color: #B1BAFC;
}

#esports-event .banner-image {
  width: 100vw;
  --banner-height: calc(0.128125 * 100vw);

  height: var(--banner-height);

  background: url("../../../assets/images/special-events/esports2020.png") no-repeat;
  background-size: 100% auto;
  background-position: right center;

  position: relative;
  z-index: 2;
}

#esports-event .teams-container {
   margin: 0 10vw;
   margin-bottom: 40px;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-gap: 20px;
   text-align: center;
}

#esports-event .teams-container .team {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  line-height: 1.25;

  width: 100%;
  
  color: white;
  background-color: #2F255A;
}

#esports-event .teams-container .team img {
  width: 20%;
  height: auto;
  float: left;

  position: absolute;
  top:0;
  left:0;
}

#esports-event .teams-container .team-name {
  font-size: 3vw;
}
#esports-event .teams-container .team-member {
  font-size: 1.8vw;
}

.line {
  width: 100%;
  height: 3px !important;
  margin-top: -10px;
  background-color: white;
  z-index: 1;
}

@keyframes notification-in {
  0%   { top: 80px; right: -240px;}
  50%   { top: 80px; right: -240px;}
  100% { top: 80px; right:0;}
}
.notification {
  position: fixed;
  width: 240px;
  height: 70px;
  background-color: #2F255A;
  color: white;
  font-size: 2em;
  text-align: center;
  opacity: 0.85;
  padding-top: 0.5em;
  z-index: 80;

  animation-name: notification-in;
  top: 80px; right:0;
  animation-duration: 1.6s;
}

@media screen and (max-width: 767px)
{
  #esports-event {
   padding-top: 0px;
  }

  #esports-event .embed-player {
     --variable-width: 95vw;
  }

  #esports-event .banner-image {
    width: 100vw;
    --banner-height: calc(0.301923 * 100vw);
  
    height: var(--banner-height);
  
    background-size: 100% auto;
    background-image: url("../../../assets/images/special-events/esports2020m.png");
  }
  #esports-event .team-name {
    font-size: 6vw;
    line-height: 2.545;
    margin-bottom: 20px;
  }
  #esports-event .teams-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: center;
  }
  
  #esports-event .teams-container {
    margin: 0 5vw;
    grid-template-columns: 100%;
  }

  #esports-event .teams-container .team-name {
    font-size: 7vw;
  }
  #esports-event .teams-container .team-member {
    font-size: 4vw;
  }
  #esports-event h1 {
    font-size: 6.5vw;
    line-height: 0.1;
  }
  #esports-event .team-title {
    font-size: 6vw;
  }

  @keyframes notification-in {
    0%   { top: 15px; right: -220px;}
    50%   { top: 15px; right: -220px;}
    100% { top: 15px; right:0;}
  }
  .notification {
    top: 15px; right:0;
    
    width: 220px;
    height: 60px;
    font-size: 1.7em;
    padding-top: 0.55em;
    animation-duration: 2s;
  }
}