<section id="events">
  <div class="feeds">
    <div class="instagram">
      <a href="https://www.instagram.com/nebulonia.alf/">Instagram feed</a>
      <!-- LightWidget widget START -->
      <!-- WARNING! you might get 'this site does not work with https' error when modifying-->
      <!-- In case you get the error make sure you copied the new link here-->
      <iframe src="//lightwidget.com/widgets/c10fea8a228a573f859c33600b88c1e1.html"
      scrolling="no"
      allowtransparency="true"
      class="widget">
      </iframe>
      <!-- LightWidget widget END -->
    </div>
    <div class="fb-column">
      <a href="https://www.facebook.com/Nebulonia/">Facebook feed</a>
      <!-- FacebookWidget widget START -->
      <div class="fb-page"
          data-href="https://www.facebook.com/Nebulonia/"
          data-tabs="timeline"
          data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="true"
          data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/Nebulonia/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Nebulonia/">Nebulónia Diákszövetség</a>
          </blockquote>
      </div>
      <!-- FacebookWidget widget END -->
    </div>
  </div>
</section>