<section id="points">
    <app-navbar [mainPage] = 'false'></app-navbar>
    <section id="content">
        <video autoplay muted loop>
            <source src="../../../assets/videos/flags/1x4/first.mp4" type="video/mp4">
        </video>
        <video autoplay muted loop>
                <source src="../../../assets/videos/flags/1x4/second.mp4" type="video/mp4">
        </video>
        <video autoplay muted loop>
            <source src="../../../assets/videos/flags/1x4/third.mp4" type="video/mp4">
        </video>
        <video autoplay muted loop>
            <source src="../../../assets/videos/flags/1x4/fourth.mp4" type="video/mp4">
        </video>
        <div class="edgeonlypic"></div> 
    </section>
</section>
  