<app-navbar [mainPage] = 'false'></app-navbar>
<section id="points">
    <div *ngFor="let layoutType of layoutTypes">
        <div *ngIf="layoutType === this.currentLayout">
            <section class="content{{layoutType}}">
                <video *ngIf="this.staticFlags === false" autoplay muted loop 
                    poster="../../../assets/images/points/background/{{layoutType}}/first.jpg">
                    <source src="../../../assets/videos/points_bg/{{layoutType}}/first.mp4" type="video/mp4">
                </video>
                <video *ngIf="this.staticFlags === false" autoplay muted loop
                    poster="../../../assets/images/points/background/{{layoutType}}/second.jpg">
                    <source src="../../../assets/videos/points_bg/{{layoutType}}/second.mp4" type="video/mp4">
                </video>
                <video *ngIf="this.staticFlags === false" autoplay muted loop
                    poster="../../../assets/images/points/background/{{layoutType}}/third.jpg">
                    <source src="../../../assets/videos/points_bg/{{layoutType}}/third.mp4" type="video/mp4">
                </video>
                <video *ngIf="this.staticFlags === false" autoplay muted loop
                    poster="../../../assets/images/points/background/{{layoutType}}/fourth.jpg">
                    <source src="../../../assets/videos/points_bg/{{layoutType}}/fourth.mp4" type="video/mp4">
                </video>
                <img *ngIf="this.staticFlags === true"
                     class="edgeonlypic"
                     src="../../../assets/images/points/background/full/{{layoutType}}.jpg">
                <div class="pointsoverlay{{layoutType}}">
                    <div class="house{{layoutType}}">
                        <img class="A" src="../../../assets/images/points/sigils/A.png">
                        <div class="points">123</div>
                        <div class="tablelink">
                            <a (click)="toggleTable(0)">
                                {{'points.table' | translate}} 
                                <i *ngIf="!this.table[0]" class="fa fa-caret-down"></i>
                                <i *ngIf="this.table[0]" class="fa fa-caret-right"></i>
                            </a>
                            <div class="dropdown" *ngIf="this.table[0]">
                                <h3>9.A: <b>12</b></h3>
                                <h3>10.A: <b>1223</b></h3>
                                <h3>11.A: <b>124</b></h3>
                                <h3>12.A: <b>0</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="house{{layoutType}}">
                        <img class="B" src="../../../assets/images/points/sigils/B.png">
                        <div class="points">456</div>
                        <div class="tablelink">
                            <a (click)="toggleTable(1)">
                                {{'points.table' | translate}} 
                                <i *ngIf="!this.table[1]" class="fa fa-caret-down"></i>
                                <i *ngIf="this.table[1]" class="fa fa-caret-right"></i>
                            </a>
                            <div class="dropdown" *ngIf="this.table[1]">
                                <h3>9.B: <b>123</b></h3>
                                <h3>10.B: <b>123</b></h3>
                                <h3>11.B: <b>123</b></h3>
                                <h3>12.B: <b>123</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="house{{layoutType}}">
                        <img class="C" src="../../../assets/images/points/sigils/C.png">
                        <div class="points">789</div>
                        <div class="tablelink">
                            <a (click)="toggleTable(2)">
                                {{'points.table' | translate}} 
                                <i *ngIf="!this.table[2]" class="fa fa-caret-down"></i>
                                <i *ngIf="this.table[2]" class="fa fa-caret-right"></i>
                            </a>
                            <div class="dropdown" *ngIf="this.table[2]">
                                <h3>9.C: <b>123</b></h3>
                                <h3>10.C: <b>123</b></h3>
                                <h3>11.C: <b>123</b></h3>
                                <h3>12.C: <b>123</b></h3>
                            </div>
                        </div>
                    </div>
                    <div class="house{{layoutType}}">
                        <img class="D" src="../../../assets/images/points/sigils/D.png">
                        <div class="points">1011</div>
                        <div class="tablelink">
                            <a (click)="toggleTable(3)">
                                {{'points.table' | translate}} 
                                <i *ngIf="!this.table[3]" class="fa fa-caret-down"></i>
                                <i *ngIf="this.table[3]" class="fa fa-caret-right"></i>
                            </a>
                            <div class="dropdown" *ngIf="this.table[3]">
                                <h3>9.D: <b>123</b></h3>
                                <h3>10.D: <b>123</b></h3>
                                <h3>11.D: <b>123</b></h3>
                                <h3>12.D: <b>123</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>