/*Widescreen START*/
.content1x4 {
   position: relative;
   width: 100%;
   height: 100vh;
   min-height: 450px;
   overflow: hidden;
}

.content1x4 .edgeonlypic{
   z-index: -100;
   margin-top: 28px;
   display: block; /*don't display by default*/
   position: relative;
   width: 100%;
   height: 100vh;
   min-height: 450px;
}
.content1x4 video {
   z-index: -100;
   object-fit: fill;
   width: 25%;
   height: 100%;
   min-height: 450px;
   margin-top: 28px;
}

.pointsoverlay1x4 {
   position: absolute; /* Sit on top of the page content */
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   min-height: 425px;
}
.house1x4{
   width: 25%;
   height: 100%;
   float: left;
}
.house1x4 .A, .house1x4 .D{
   display: block;
   margin: 0 auto !important;
   width: 37%;
   height: auto;
}
.house1x4 .B, .house1x4 .C{
   display: block;
   margin: 0 auto !important;
   width: 37%;
   height: auto;
}
@media screen and (min-height: 601px){
   .house1x4 .A, .house1x4 .D{margin-top: 125px !important;}
   .house1x4 .B, .house1x4 .C{margin-top: 175px !important;}
}
@media screen and (min-height: 0px) and (max-height: 600px){
   .house1x4 .A, .house1x4 .D{margin-top: 75px !important;}
   .house1x4 .B, .house1x4 .C{margin-top: 105px !important;}
}

.house1x4 .points, .house1x4 .tablelink {
   padding-top: 2vh;
   font-size: 2.5vw;
}
.house1x4 .tablelink a {
   font-size: 1.3vw !important;
}
.house1x4 .dropdown {
   margin-top: 10px;
}
.house1x4 .dropdown h3 {
   font-size: 1.2vw !important;
}
/*Widescreen END*/

/*Medium screen START*/
.content2x2 .edgeonlypic{
   z-index: -100;
   display: block; /*don't display by default*/
   position: relative;
   width: 100%;
   height: 200vh;
   min-height: 1150px;
   max-height: 1560px;
}
.content2x2 video {
   z-index: -100;
   object-fit: fill;
   width: 50%;
   height: 100vh;
   min-height: 575px;
   max-height: 780px;
   /*margin-bottom: -2px;*/
}

.pointsoverlay2x2 {
   position: absolute; /* Sit on top of the page content */
   width: 100%;
   height: 200vh;
   min-height: 575px;
   max-height: 1560px;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
}
.house2x2{
   width: 50%;
   height: 100vh;
   min-height: 575px;
   max-height: 780px;
   float: left;
}
.house2x2 .A, .house2x2 .D, .house2x2 .B, .house2x2 .C {
   display: block;
   margin: 0 auto !important;
   margin-top: 100px !important;
   width: 37%;
   height: auto;
}
.house2x2 .points, .house2x2 .tablelink {
   padding-top: 2.5vh;
   font-size: 4.5vw;
}
.house2x2 .tablelink a {
   font-size: 2.5vw !important;
}
.house2x2 .dropdown {
   margin-top: 10px;
}
.house2x2 .dropdown h3 {
   font-size: 2.5vw !important;
}
/*Medium screen END*/

/*Small screen START*/
.content4x1{
   padding-bottom: -8px;
}
.content4x1 .edgeonlypic{
   z-index: -100;
   display: block; /*don't display by default*/
   position: relative;
   width: 100%;
   height: 400vh;
}
.pointsoverlay4x1 {
   position: absolute; /* Sit on top of the page content */
   width: 100%;
   height: 400vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
}
.content4x1 video {
   z-index: -100;
   object-fit: fill;
   width: 100%;
   height: 100vh;
   /*margin-bottom: -2px;*/
}
.house4x1{
   width: 100%;
   height: 100vh;
   float: left;
}
@media screen and (min-width: 316px){
   .content4x1 .edgeonlypic{
      min-height: 2700px;
      max-height: 3200px;
   }
   .pointsoverlay4x1 {
      min-height: 2700px;
      max-height: 3200px;
   }
   .content4x1 video {
      min-height: 675px;
      max-height: 800px;
   }
   .house4x1{
      min-height: 675px;
      max-height: 800px;
   }
}
@media screen and (min-width: 0px) and (max-width: 315px){
   .content4x1 .edgeonlypic{
      min-height: 2200px;
      max-height: 3000px;
   }
   .pointsoverlay4x1 {
      min-height: 2200px;
      max-height: 3000px;
   }
   .content4x1 video {
      min-height: 550px;
      max-height: 750px;
   }
   .house4x1{
      min-height: 550px;
      max-height: 750px;
   }
}
.house4x1 .A, .house4x1 .D, .house4x1 .B, .house4x1 .C {
   display: block;
   margin: 0 auto !important;
   margin-top: 100px !important;
   width: 37%;
   height: auto;
}
.house4x1 .points, .house4x1 .tablelink {
   padding-top: 4vh;
   font-size: 8vw;
}
.house4x1 .tablelink a {
   font-size: 6vw !important;
}
.house4x1 .dropdown {
   margin-top: 10px;
}
.house4x1 .dropdown h3 {
   font-size: 5.2vw !important;
}
/*Small screen END*/

/* Common START */
.dropdown h3 {
   color: #fcac45;
}

.dropdown b {
   color: white;
   font-weight: normal;
}

.points, .tablelink {
   display: block;
   font-family: octarineBold, arialBlack, Arial;
   text-align: center;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.points{color: #fcac45;}
.tablelink {color: white;}

.tablelink a {
   font-family: octarineLight, Arial, arialBlack !important;
   text-decoration: none;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.tablelink a:hover { 
   color: #F06000; 
   cursor: pointer;
}
/* Common END */

.pdfbutton {
   z-index: 200;
   font-family: octarineBold, arialBlack, Arial;
   font-size: 1rem;
   color:black;
   position: fixed;
   bottom: 0;
   right: 0;
   margin-bottom:10px;
   margin-right:15px;
   overflow: hidden;
}

/*.browsertype { z-index: 200; font-weight: bold; color:white; position: fixed; bottom: 0; left:0; margin-bottom:10px; margin-left:15px; overflow: hidden;}*/
