<section id="about">
  <div class="container">
    <video class="profile-vid" autoplay muted loop
      	    (click)="this.showPresentation()"
            poster="../../../assets/images/logo.png">
            <source src="../../../assets/videos/logo.mp4" type="video/mp4">
    </video>
    <div class="text">
      <h2><b>{{ 'about.title' | translate }}</b></h2>
      <p>{{ 'about.text' | translate }}</p>
    </div>
  </div>
</section>

<div class="backdrop" [ngStyle]="{'display': presentationState}" style="z-index: 150;"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': presentationState}" style="z-index: 151; max-width: 1000px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #191919; padding-bottom: 15px;">
        <button style="text-align: right; margin-right: 15px;" type="button" class="close" aria-label="Close" (click)="hidePresentation()">
          <span aria-hidden="true" style="color:white">&times;</span>
        </button>
      <div class="modal-body">
        <video controls style="width: 100%; height:auto;" preload="none" #presentation>
           <source
           src="../../../assets/videos/logo-fullhd.mp4"
           type="video/mp4">
        </video> 
      </div>
    </div>
  </div>
</div>
