#about {
   padding-top: 60px; 
   padding-bottom: 48px;
   background: #2B2B2B;
   overflow: hidden;
   background-size: cover !important;
   -webkit-background-size: cover !important;
}

#about .container {
   max-width: 1700px;
   margin: 0 auto;
}

/*makes background color transition seemless*/
 #about .text {
   margin: 0 auto;
   width: 45%;
}
#about .text h2 {
   margin-bottom: 12px;
   color: white;
}
#about .text p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-vid {
   position: absolute;
   display: block;
   border-radius: 100%;

   -webkit-transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
   transition: opacity .25s ease-in-out;
}
/*workaround: display similar to "grey overlay" without extra code*/
.profile-vid:hover {
  cursor:pointer;
  opacity: 0.65;
}

/*Responsive Design*/
@media screen and (min-width: 1400px){
   #about .text p {
      font-size: 17px;
   }
   #about .text h2 {
      font-size: 22px;
   }
   #about .profile-vid {
      position: relative;
      float: left !important;
      margin-left: 15%;
      
      width: 9em;
      margin-top: 0.6em;
      height: auto;
   }
}
@media screen and (min-width: 821px) and (max-width: 1399px) {
   #about .text {
      width: 55%;
   }
   #about .text p {
      font-size: 15px;
      line-height: 23px;
   }
   #about .text h2 {
      font-size: 22px;
   }
   #about .profile-vid {
      width: 11vw;
      left: 9.5vw;
      margin-top: 1%;
      height: auto;
   }
}
@media screen and (max-width: 820px){
   #about .text {
      width: 75%;
   }
   #about .text p {
      font-size: 16px;
      line-height: 23px;
   }
   #about .text h2 {
      font-size: 22px;
   }
   #about .profile-vid, video {
      opacity: 0;
      width: 0 !important;
   }
}

.backdrop{
   background-color:rgba(0,0,0,0.6);
   position:fixed;
   top:0;
   left:0;
   width:100vw;
   height:100vh !important;
}
.modal-dialog {
   width: 70vw;
   max-width: 70vw;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0 !important;
}
@media screen and (max-width: 767px){
   .modal-dialog {
      width: 90vw;
      max-width: 90vw;
   }
}
