/* You can add global styles to this file, and also import other style files */

/* Most used fonts */
/* font-family: octarineBold, arialBlack, Arial; */
/* font-family: octarineLight, Arial, arialBlack; */

/*Fonts*/
@font-face {
    font-family: octarineBold;
    src: url(assets/fonts/Octarine-Bold.otf) format("opentype");
  }
@font-face {
    font-family: octarineBoldOblique;
    src: url(assets/fonts/Octarine-BoldOblique.otf) format("opentype");
  }
@font-face {
    font-family: octarineLight;
    src: url(assets/fonts/Octarine-Light.otf) format("opentype");
  }
@font-face {
    font-family: octarineLightOblique;
    src: url(assets/fonts/Octarine-LightOblique.otf) format("opentype");
  }
@font-face {
    font-family: arialBlack;
    src: url(assets/fonts/Arial-Black.ttf) format("truetype");
  }

/*Smooth scrolling*/
/*Non-Compatible with explorer,edge and safari*/
/*UPDATE: Not used, however left in for safety*/
html {
  scroll-behavior: smooth;
}

/*edge and explorer white-line bugfix*/
body {
  line-height: 1;
  background-color: #0F0F0F;
}